.overview {
    border-bottom: 1px solid rgb(224, 224, 224);
}

.overallRating {
    padding: 0.9375rem 0px;
    display: flex;
    align-items: flex-end;
}

.count-reviews {
    font-size: 1rem;
    line-height: 1.5625rem;
    font-weight: 400;
    text-transform: inherit;
}
.recommend {
    color: rgb(0, 133, 55);
    font-size: 1rem;
    line-height: 1.5625rem;
    font-weight: 400;
    text-transform: inherit;
}
.rating {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.count-space {
    display: block;
    padding: 0px 0px 0px 0.75rem;
    letter-spacing: 1px;
}

.middle-part {
    display: flex;
    flex-direction: row;
}

.rating-part {
  width: 400px;
}

.overall-experience {
    border-left: 1px solid rgb(224, 224, 224);
    padding-left: 1.25rem;
}

.rating-experience {
    display: flex;
    align-items: flex-end;
}

.review-btn {
  float: top;
  position: absolute;
  right: 40px;
  width: auto;
  padding: 0.9375rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-collapse: collapse;
  text-align: center;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  background-color: rgb(0, 109, 183);
  color: rgb(255, 255, 255);
  border-color: rgb(0, 109, 183);
  cursor: pointer;
}