.container{
  font-family: Cera Pro,sans-serif;
  font-size: 16px;
  min-height: calc(85vh - 3.69rem);
  display: block;
  /* overflow:hidden; */
}
.animation-btn {
  letter-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  width: 100%;
  background: rgb(248, 248, 248);
  border-top: 1px solid rgb(224, 224, 224);
  border: 0;
  padding: 0;
  overflow: visible;
}
.sharedstyle{
  width: 100%;
  max-width: 82.5rem;
  padding: 0px 0.75rem;
  margin: 0px auto;
  display: block;
  cursor: pointer;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
}
.grey-bar{
  width: 100%;
  margin: 0px auto;
  padding: 1.5625rem 0px;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
}
.h2{
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* .spin-icon{
  border: 1px solid #dedede;
  background: #fff;
}
.spin-icon:focus {
  outline: none;
  animation: rotatefresh 1s;
}
.spin-icon:active{
  animation: none;
  background: '#eee';
}
@keyframes rotatefresh {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(90deg);
      transition: 10s;
  }
} */

.wrapper{
  overflow: hidden;
  display: block;
  color: #2c2c2c;
  font-size: 16px;
}
.style_wrapper{
  overflow: visible;
  height: auto;
  position: relative;
  line-height: 1.5;
  width: 100%;
  max-width: 82.5rem;
  padding: 0px 0.75rem;
  margin: 0px auto;
}
.overview{
  padding: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.rating_wrapper{
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.rating{
  padding: 0.9375rem 0px;
  display: flex;
  align-items: flex-end;
}
.overallRating{
  display: block;
  color: rgb(0, 0, 0);
}
.count-reviews{
  padding: 0px 0px 0px 0.75rem;
  line-height: 1.5;
  font-size: 16px;
}
.recommend{
  color: rgb(0, 133, 55);
  font-size: 1rem;
  line-height: 1.5625rem;
  font-weight: 400;
}

.rating-part{
  width: 400px;
}
.rating-box{
  display: flex;
  border-bottom: 1px solid grey;
}
.overall-experience{
  /* height: 10% */
  border-left: 1px solid grey;
  padding: 0px 20px;
}
.review-btn{
  float: left;
  position: absolute;
  right: 40px;
  width: auto;
  padding: 0.9375rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-collapse: collapse;
  text-align: center;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  background-color: rgb(0, 109, 183);
  color: rgb(255, 255, 255);
  border-color:rgb(0, 109, 183);
  cursor: pointer;
}
.sort-box{
  border-bottom:1px solid rgb(224, 224, 224);
  margin: 30px 10px;
}
select{
  border: 1px solid rgb(224, 224, 224);
  color: rgb(44, 44, 44);
  height: 3.45rem;
  font-size: 20px;
  width: 100%;
  margin: 0px 0px 20px 0px;
  position: relative;
  cursor: pointer;
}
.sort a{
  cursor: pointer;
  color: rgba(95, 156, 236, 0.993);
}
.sort p{
  font-style: italic;
}
.review{
  border-top: 1px solid rgb(224, 224, 224);
  display: flex;
  flex-direction: column;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem
}
.date, .star, .title{
  display: block;
  padding: 5px 0px;
}
.userName{
  cursor: pointer;
  color:rgba(95, 156, 236, 0.993)
}
.recommend-review{
  color: rgb(0, 133, 55);
  font-size: 1rem;
  line-height: 1.5625rem;
  font-weight: 700;
}
.purchase{
  font-size: 1rem;
  line-height: 1.5625rem;
  font-weight: 500;
}
.purchased{
  font-weight: bold;
}
.each-review{
  display: flex;
  border-bottom:1px solid rgb(224, 224, 224) ;
  padding: 20px;
  margin:10px 0px;
  /* height: 600px; */
}
.review-left{
  width: 700px;
  margin: 0px 20px 0px 0px;
}
/* .recview-right{
 float:bottom;
} */
.images{
  display:flex;
}
.image-size{
  padding: 20px 10px;
  cursor: pointer;
}
.helpful{
  margin: 5px;
}
.helpful button{
  cursor: pointer;
  border-style: none;
  background-color: rgb(255, 255, 255);;
  font-size: 15px;
}
.page-bar{
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
    align-items: center;
  position: relative;
  width: 100%;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
  padding: 0px 0.3125rem;
  margin-left: -0.3125rem;
  color: rgb(117, 117, 117);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 1.5625rem;
}
li{
  display: inline-block;
  flex: 0 0 auto;
  text-align: center;
  width: 1.875rem;
  margin: 0px 0.625rem;
  color: rgb(0, 0, 0);
  text-decoration: underline;
  cursor: pointer;
}
.btn-liked-dislike{
  display: flex;
  cursor: pointer;
}
.liked-dislike{
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 15px;
}
.paragraph-content{
  font-weight: 400;
  line-height: 1.75rem;
  display: block;
  overflow-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
}
.paragraph-button{
  width: auto;
  margin: 0px 20px 30px 0px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.1875rem;
  color: rgb(0, 109, 183);
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.liked-dislike:focus {
  outline: none !important;
  outline-offset: none !important;
}
.paragraph-button:focus {
  outline: none !important;
  outline-offset: none !important;
}
select:focus {
  outline: none !important;
  outline-offset: none !important;
}